  
{% extends "base.html" %}
{% load static %}
{% block title %}
<title>Government Rules</title>
<script src="https://kit.fontawesome.com/ce0f33054f.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link rel="stylesheet" href="{% static 'css/governmentRules.css' %}">
{% endblock title %}

{% block body %}
<h1 class="container section-heading">Government Rules</h1>
<main>
  <div class="container">
  <div class="card">
    <div class="img-container">
      <img src="{% static 'img/governmentRules/SampleGRImage.png' %}" alt="">
    </div>
    <div class="card-info-container">
      <h2 class="card-title">Maharashtra Government</h2>
      <div class="card-para">Regulation No. 2.2.14 (ii) of the Integrated Development Control and Promotion Rules,
        orders regarding fire infrastructure charges.</div>
      <a href="https://maharashtra.gov.in/" class="card-btn">read more<i class="fas fa-long-arrow-alt-right"></i></a>
    </div>
  </div>
  <div class="card">
    <div class="img-container">
      <img src="{% static 'img/governmentRules/SampleGRImage.png' %}" alt="">
    </div>
    <div class="card-info-container">
      <h2 class="card-title">Credai Maharashtra</h2>
      <div class="card-para">Regulation No. 2.2.14 (ii) of the Integrated Development Control and Promotion Rules,
        orders regarding fire infrastructure charges.</div>
      <a href="https://www.credaimaharashtra.org/" class="card-btn">read more<i class="fas fa-long-arrow-alt-right"></i></a>
    </div>
  </div>
  <div class="card">
    <div class="img-container">
      <img src="{% static 'img/governmentRules/SampleGRImage.png' %}" alt="">
    </div>
    <div class="card-info-container">
      <h2 class="card-title">MahaRera</h2>
      <div class="card-para">Regulation No. 2.2.14 (ii) of the Integrated Development Control and Promotion Rules,
        orders regarding fire infrastructure charges.</div>
      <a href="https://maharera.mahaonline.gov.in/" class="card-btn">read more<i class="fas fa-long-arrow-alt-right"></i></a>
    </div>
  </div>
  <div class="card">
    <div class="img-container">
      <img src="{% static 'img/governmentRules/SampleGRImage.png' %}" alt="">
    </div>
    <div class="card-info-container">
      <h2 class="card-title">E - Gazzete</h2>
      <div class="card-para">Regulation No. 2.2.14 (ii) of the Integrated Development Control and Promotion Rules,
        orders regarding fire infrastructure charges.</div>
      <a href="https://egazzete.mahaonline.gov.in/Forms/GazetteSearch.aspx" class="card-btn">read more<i class="fas fa-long-arrow-alt-right"></i></a>
    </div>
  </div>
  <div class="card">
    <div class="img-container">
      <img src="{% static 'img/governmentRules/SampleGRImage.png' %}" alt="">
    </div>
    <div class="card-info-container">
      <h2 class="card-title">Nagpur Municipal Corporation</h2>
      <div class="card-para">Regulation No. 2.2.14 (ii) of the Integrated Development Control and Promotion Rules,
        orders regarding fire infrastructure charges.</div>
      <a href="https://www.nmcnagpur.gov.in/" class="card-btn">read more<i class="fas fa-long-arrow-alt-right"></i></a>
    </div>
  </div>
  <div class="card">
    <div class="img-container">
      <img src="{% static 'img/governmentRules/SampleGRImage.png' %}" alt="">
    </div>
    <div class="card-info-container">
      <h2 class="card-title">VNIT Nagpur</h2>
      <div class="card-para">Regulation No. 2.2.14 (ii) of the Integrated Development Control and Promotion Rules,
        orders regarding fire infrastructure charges.</div>
      <a href="https://vnit.ac.in/" class="card-btn">read more<i class="fas fa-long-arrow-alt-right"></i></a>
    </div>
  </div>
  <div class="card">
    <div class="img-container">
      <img src="{% static 'img/governmentRules/SampleGRImage.png' %}" alt="">
    </div>
    <div class="card-info-container">
      <h2 class="card-title">Nagpur Metropolitan Region Development Authority</h2>
      <div class="card-para">Regulation No. 2.2.14 (ii) of the Integrated Development Control and Promotion Rules,
        orders regarding fire infrastructure charges.</div>
      <a href="http://nmrda.org/" class="card-btn">read more<i class="fas fa-long-arrow-alt-right"></i></a>
    </div>
  </div>
</div>
</main>
{% endblock body %}