{% extends "base.html" %}
{% load static %}
{% block title %}
<title>Our Office Bearers</title>
<link rel="stylesheet" href="{% static 'css/officeBearers.css' %}">
{% endblock title %}

{% block body %}
<main>
  <h2 class="container section-heading" id="main-heading">Office Bearers 2021 - 2023</h2>
  <header class="full-container">
    <!-- Vice Presidents -->
    <div class="member-group-container">
      <h2 class="member-group-title">Vice Presidents</h2>
      <div class="container">
        <div class="members-container">
          <!-- individual Member Container -->
          <div class="individual-member-container card">
            <div class="member-img-container" id="member-1">
              <img src="{% static 'img/officeBearers/VicePresidentImages/AshishLondhe.png' %}" class="member-img"
                alt="">
            </div>
            <div class="member-info-container">
              <h3 class="member-name">Ashish P. Londhe</h3>
              <h4 class="member-title offscreen">Vice President</h4>
              <div class="member-information">
                <h5 class="firm-name">M/s. Ashish Constructions
                </h5>
                <ul class="contact-info remove-list-styles">
                  <li>aplondhe@yahoo.co.in</li>
                  <li>9822229002</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- End of Individual Member Contianer -->
          <!-- individual Member Container -->
          <div class="individual-member-container card offscreen">
            <div class="member-img-container" id="member-1">
              <img src="{% static 'img/officeBearers/VicePresidentImages/EkalawyaWasekar.png' %}" class="member-img"
                alt="">
            </div>
            <div class="member-info-container">
              <h3 class="member-name">Ekalawya B. Wasekar</h3>
              <h4 class="member-title offscreen">Vice President</h4>
              <div class="member-information">
                <h5 class="firm-name">M/s Ajinkya Developers

                </h5>
                <ul class="contact-info remove-list-styles">
                  <li>e.wasekar@hotmail.com
                  </li>
                  <li>9371459641</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- End of Individual Member Contianer -->
          <!-- individual Member Container -->
          <div class="individual-member-container card offscreen">
            <div class="member-img-container" id="member-1">
              <img src="{% static 'img/officeBearers/VicePresidentImages/JethanandKhandwani.png' %}" class="member-img"
                alt="">
            </div>
            <div class="member-info-container">
              <h3 class="member-name">Jethanand Khandwani</h3>
              <h4 class="member-title offscreen">Vice President</h4>
              <div class="member-information">
                <h5 class="firm-name">M/s. Shree Krishna Builders & Developers

                </h5>
                <ul class="contact-info remove-list-styles">
                  <li>jmkhandwani@gmail.com
                  </li>
                  <li>9373110727</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- End of Individual Member Contianer -->
          <!-- individual Member Container -->
          <div class="individual-member-container card offscreen">
            <div class="member-img-container" id="member-1">
              <img src="{% static 'img/officeBearers/VicePresidentImages/ChandrasekharKhune.png' %}" class="member-img"
                alt="">
            </div>
            <div class="member-info-container">
              <h3 class="member-name">Chandrashekar W. Khune</h3>
              <h4 class="member-title offscreen">Vice President</h4>
              <div class="member-information">
                <h5 class="firm-name">M/s Anurag Developers</h5>
                <ul class="contact-info remove-list-styles">
                  <li>anuragdevelopers05@gmail.com</li>
                  <li>9422120509</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- End of Individual Member Contianer -->
          <!-- individual Member Container -->
          <div class="individual-member-container card offscreen">
            <div class="member-img-container" id="member-1">
              <img loading="lazy" src="{% static 'img/officeBearers/VicePresidentImages/HemalNadiyana.png' %}" class="member-img"
                alt="">
            </div>
            <div class="member-info-container">
              <h3 class="member-name">Hemal Nadiyana</h3>
              <h4 class="member-title offscreen">Vice President</h4>
              <div class="member-information">
                <h5 class="firm-name">M/s. Devang Developers LLP</h5>
                <ul class="contact-info remove-list-styles">
                  <li>hemalnadiyana@gmail.com</li>
                  <li>9822286548</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- End of Individual Member Contianer -->
          <!-- individual Member Container -->
          <div class="individual-member-container card offscreen">
            <div class="member-img-container" id="member-1">
              <img loading="lazy" src="{% static 'img/officeBearers/VicePresidentImages/VijaySinghThakur.png' %}" class="member-img"
                alt="">
            </div>
            <div class="member-info-container">
              <h3 class="member-name">Vijay Singh Thakur</h3>
              <h4 class="member-title offscreen">Vice President</h4>
              <div class="member-information">
                <h5 class="firm-name">M/s. Sai Gajanan Builders and Developers</h5>
                <ul class="contact-info remove-list-styles">
                  <li>N/A</li>
                  <li>9890506761</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- End of Individual Member Contianer -->
          <img loading="lazy" src="{% static 'img/about/LeftArrow.svg' %}" alt="" id="left-arrow">
          <img loading="lazy" src="{% static 'img/about/RightArrow.svg' %}" alt="" id="right-arrow">
        </div>
        <!-- End of Members -->
      </div>
      <div class="circles-container">
        <div class="circle"></div>
        <div class="circle small-circle"></div>
        <div class="circle small-circle"></div>
        <div class="circle small-circle"></div>
        <div class="circle small-circle"></div>
        <div class="circle small-circle"></div>
      </div>
    </div>
    <!-- End Of Grouped Member Container (Vice Presidents) -->
    <!-- Joint Secretaries -->
    <div class="member-group-container top-space">
      <h2 class="member-group-title">Joint Secretaries</h2>
      <div class="container">
        <div class="members-container">
          <!-- individual Member Container -->
          <div class="individual-member-container card1">
            <div class="member-img-container" id="member-1">
              <img loading="lazy" src="{% static 'img/officeBearers/JointSecretaries/TarakChawla.png' %}" class="member-img" alt="">
            </div>
            <div class="member-info-container">
              <h3 class="member-name">Tarak Chawla</h3>
              <h4 class="member-title offscreen">Joint Secretary</h4>
              <div class="member-information">
                <h5 class="firm-name">M/s. Sadoday Developers Ltd</h5>
                <ul class="contact-info remove-list-styles">
                  <li>tarakchawla@gmail.com</li>
                  <li>8600000977</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- End of Individual Member Contianer -->
          <!-- individual Member Container -->
          <div class="individual-member-container card1 offscreen">
            <div class="member-img-container" id="member-1">
              <img loading="lazy" src="{% static 'img/officeBearers/JointSecretaries/AbhishekJavery.png' %}" class="member-img" alt="">
            </div>
            <div class="member-info-container">
              <h3 class="member-name">Abhishek Javery</h3>
              <h4 class="member-title offscreen">Joint Secretary</h4>
              <div class="member-information">
                <h5 class="firm-name">M/s. Ratan Constructions</h5>
                <ul class="contact-info remove-list-styles">
                  <li>abhishekjavery@hotmail.com</li>
                  <li>9823048721</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- End of Individual Member Contianer -->
          <!-- individual Member Container -->
          <div class="individual-member-container card1 offscreen">
            <div class="member-img-container" id="member-1">
              <img loading="lazy" src="{% static 'img/officeBearers/JointSecretaries/PratishGujrathi.png' %}" class="member-img"
                alt="">
            </div>
            <div class="member-info-container">
              <h3 class="member-name">Pratish Gujarathi</h3>
              <h4 class="member-title offscreen">Joint Secretary</h4>
              <div class="member-information">
                <h5 class="firm-name">M/s. Shri Krishna Infrastructure</h5>
                <ul class="contact-info remove-list-styles">
                  <li>pratishgujarathi@gmail.com</li>
                  <li>9604098999</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- End of Individual Member Contianer -->
          <!-- individual Member Container -->
          <div class="individual-member-container card1 offscreen">
            <div class="member-img-container" id="member-1">
              <img loading="lazy" src="{% static 'img/officeBearers/JointSecretaries/VijayJoshi.png' %}" class="member-img" alt="">
            </div>
            <div class="member-info-container">
              <h3 class="member-name">Vijay Joshi</h3>
              <h4 class="member-title offscreen">Joint Secretary</h4>
              <div class="member-information">
                <h5 class="firm-name">M/s. Jai Kishan Builders</h5>
                <ul class="contact-info remove-list-styles">
                  <li>jk_builders@yahoo.co.in</li>
                  <li>9823192726</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- End of Individual Member Contianer -->
          <img loading="lazy" src="{% static 'img/about/LeftArrow.svg' %}" alt="" id="left-arrow" class="l1">
          <img loading="lazy" src="{% static 'img/about/RightArrow.svg' %}" alt="" id="right-arrow" class="r1">
        </div>
        <!-- End of Members -->
      </div>
      <div class="circles-container">
        <div class="c2"></div>
        <div class="c2 small-circle"></div>
        <div class="c2 small-circle"></div>
        <div class="c2 small-circle"></div>
      </div>
    </div>
    <!-- End Of Grouped Member Container (Vice Presidents) -->
  </header>
</main>
<h2 class="container section-heading" id="past-presidents">Past Presidents</h2>
<section class="full-container section-container remove-bottom-padding">
  <!-- Past Presidents -->
  <div class="member-group-container">
    <div class="container">
      <div class="members-container small-members-container">
        <!-- individual Member Container -->
        <div class="individual-member-container card2 row-container">
          <div class="member-img-container" id="member-1">
            <img loading="lazy" src="{% static 'img/officeBearers/PastPresidents/BalbirSinghRenuFounderPresident.png' %}"
              class="member-img round-img" alt="">
          </div>
          <div class="member-info-container remove-bottom-padding">
            <h3 class="member-name main-green-font white-font">Balbir Singh Renu</h3>
            <div class="member-information">
              <h5 class="firm-name" id="founder-president">Founder President
              </h5>
              <h5 class="tenure main-green-font white-font">1998 - 2001, 2006 - 2008</h5>
            </div>
          </div>
        </div>
        <!-- End of Individual Member Contianer -->
        <!-- individual Member Container -->
        <div class="individual-member-container card2 offscreen row-container">
          <div class="member-img-container" id="member-1">
            <img loading="lazy" src="{% static 'img/officeBearers/PastPresidents/SantdasChawla.png' %}" class="member-img round-img"
              alt="">
          </div>
          <div class="member-info-container remove-bottom-padding">
            <h3 class="member-name main-green-font white-font">Santdas Chawla</h3>
            <h5 class="tenure main-green-font white-font">2001 - 2006</h5>
            <h5 class="tenure main-green-font white-font"><span class="alt-tenure-label">CREDAI MAHARASHTRA</span> - 2007-2009</h5>
          </div>
        </div>
        <!-- End of Individual Member Contianer -->
        <!-- individual Member Container -->
        <div class="individual-member-container card2 offscreen row-container">
          <div class="member-img-container" id="member-1">
            <img loading="lazy" src="{% static 'img/officeBearers/PastPresidents/PrashantSarode.png' %}" class="member-img round-img"
              alt="">
          </div>
          <div class="member-info-container remove-bottom-padding">
            <h3 class="member-name main-green-font white-font">Prashant Sarode</h3>
            <h5 class="tenure main-green-font white-font">2012 - 2016</h5>
            <h5 class="tenure main-green-font white-font"><span class="alt-tenure-label">CREDAI MAHARASHTRA</span> - 2017-2019</h5>
          </div>
        </div>
        <!-- End of Individual Member Contianer -->
        <!-- individual Member Container -->
        <div class="individual-member-container card2 offscreen row-container">
          <div class="member-img-container" id="member-1">
            <img loading="lazy" src="{% static 'img/officeBearers/PastPresidents/AnilNair.png' %}" class="member-img round-img" alt="">
          </div>
          <div class="member-info-container remove-bottom-padding">
            <h3 class="member-name main-green-font white-font">Anil Nair</h3>
            <h5 class="tenure main-green-font white-font">2016 - 2019</h5>
          </div>
        </div>
        <!-- End of Individual Member Contianer -->
        <!-- individual Member Container -->
        <div class="individual-member-container card2 offscreen row-container">
          <div class="member-img-container white-font" id="member-1">
            <img loading="lazy" src="{% static 'img/officeBearers/PastPresidents/MaheshSadhwani.png' %}" class="member-img round-img"
              alt="">
          </div>
          <div class="member-info-container remove-bottom-padding">
            <h3 class="member-name main-green-font white-font">Mahesh Sadhwani</h3>
            <h5 class="tenure main-green-font white-font">2019 - 2021</h5>
            <h5 class="tenure main-green-font white-font"><span class="alt-tenure-label">CREDAI MAHARASHTRA</span> - 2019-2021</h5>
          </div>
        </div>
        <!-- End of Individual Member Contianer -->

        <img loading="lazy" src="{% static 'img/officeBearers/LeftArrowGreen.svg' %}" alt="" id="left-arrow-green">
        <img loading="lazy" src="{% static 'img/officeBearers/RightArrowGreen.svg' %}" alt="" id="right-arrow-green">
      </div>
      <!-- End of Members -->
    </div>
    <div class="circles-container">
      <div class="c3"></div>
      <div class="c3 small-circle"></div>
      <div class="c3 small-circle"></div>
      <div class="c3 small-circle"></div>
      <div class="c3 small-circle"></div>
    </div>
    <!-- End Of Grouped Member Container (Vice Presidents) -->
</section>
<h2 class="container section-heading" id="past-secretaries-heading">Past Secretaries</h2>
<section class="full-container section-container">
  <!-- Past Presidents -->
  <div class="member-group-container">
    <div class="container">
      <div class="members-container small-members-container">
        <!-- individual Member Container -->
        <div class="individual-member-container card3 row-container">
          <div class="member-img-container" id="member-1">
            <img loading="lazy" src="{% static 'img/officeBearers/PastSecretaries/JaiprakashMalviya.png' %}"
              class="member-img round-img" alt="">
          </div>
          <div class="member-info-container remove-bottom-padding">
            <h3 class="member-name main-green-font white-font">Jaiprakash Malviya</h3>
            <h5 class="tenure main-green-font white-font">1998 - 2001</h5>
          </div>
        </div>
        <!-- End of Individual Member Contianer -->
        <!-- individual Member Container -->
        <div class="individual-member-container card3 offscreen row-container">
          <div class="member-img-container" id="member-1">
            <img loading="lazy" src="{% static 'img/officeBearers/PastPresidents/PrashantSarode.png' %}" class="member-img round-img"
              alt="">
          </div>
          <div class="member-info-container remove-bottom-padding">
            <h3 class="member-name main-green-font white-font">Prashant Sarode</h3>
            <h5 class="tenure main-green-font white-font">2001 - 2012</h5>
          </div>
        </div>
        <!-- End of Individual Member Contianer -->
        <!-- individual Member Container -->
        <div class="individual-member-container card3 offscreen row-container">
          <div class="member-img-container" id="member-1">
            <img loading="lazy" src="{% static 'img/officeBearers/PastPresidents/AnilNair.png' %}" class="member-img round-img" alt="">
          </div>
          <div class="member-info-container remove-bottom-padding">
            <h3 class="member-name main-green-font white-font">Anil Nair</h3>
            <h5 class="tenure main-green-font white-font">2012 - 2016</h5>
          </div>
        </div>
        <!-- End of Individual Member Contianer -->
        <!-- individual Member Container -->
        <div class="individual-member-container card3 offscreen row-container">
          <div class="member-img-container white-font" id="member-1">
            <img loading="lazy" src="{% static 'img/officeBearers/PastSecretaries/GauravAgarwala.png' %}" class="member-img round-img"
              alt="">
          </div>
          <div class="member-info-container remove-bottom-padding">
            <h3 class="member-name main-green-font white-font">Gaurav Agarwala</h3>
            <h5 class="tenure main-green-font white-font">2016 - 2021</h5>
          </div>
        </div>
        <!-- End of Individual Member Contianer -->

        <img loading="lazy" src="{% static 'img/officeBearers/LeftArrowGreen.svg' %}" alt="" id="left-arrow-green2">
        <img loading="lazy" src="{% static 'img/officeBearers/RightArrowGreen.svg' %}" alt="" id="right-arrow-green2">
      </div>
      <!-- End of Members -->
    </div>
    <div class="circles-container">
      <div class="c4"></div>
      <div class="c4 small-circle"></div>
      <div class="c4 small-circle"></div>
      <div class="c4 small-circle"></div>
    </div>
    <!-- End Of Grouped Member Container (Vice Presidents) -->
</section>
<section class="container table-section">
  <table>
    <thead>
      <tr>
        <th>Executive Members</th>
      </tr>
    </thead>
    <tr>
      <td>Rajesh Kumar Bajaj</td>
    </tr>
    <tr>
      <td>Siddharth Saraf</td>
    </tr>
    <tr>
      <td>Ravindra Kapse</td>
    </tr>
    <tr>
      <td>Naresh Barde</td>
    </tr>
    <tr>
      <td>Nitin Dangore</td>
    </tr>
    <tr>
      <td>Vinod Kubde</td>
    </tr>
    <tr>
      <td>Vishwas Gupta</td>
    </tr>
    <tr>
      <td>Rahul Pise</td>
    </tr>
    <tr>
      <td>Bharat Dhapodkar</td>
    </tr>
    <tr>
      <td>Hemant Madne</td>
    </tr>
    <tr>
      <td>Nilesh Khade</td>
    </tr>
    <tr>
      <td>Nitin Patil</td>
    </tr>
    <tr>
      <td>Raunak Diote</td>
    </tr>
  </table>
  <table id="co-opt-members">
    <thead>
      <tr>
        <th>Co-Opt Members</th>
      </tr>
    </thead>
    <tr>
      <td>Ashok Chandak</td>
    </tr>
    <tr>
      <td>Sanjay Gupta</td>
    </tr>
    <tr>
      <td>Avinash Tarpe</td>
    </tr>
    <tr>
      <td>Rahul Agrawal</td>
    </tr>
  </table>
</section>
<script>
  const cards = document.querySelectorAll(".card");
  const circles = document.querySelectorAll(".circle");
  const prevBtn = document.querySelector("#left-arrow");
  const nextBtn = document.querySelector("#right-arrow");
  let cardSlide = 0;
  const moveCardDots = (cards, circles, currentSlide, shift) => {
    const nextSlide = currentSlide + shift;
    console.log(cards[0], cards[cards.length - 1]);
    if (window.matchMedia("(min-width: 736px)").matches && shift == 1) {
      cards[0].classList.add("offscreen");
      cards[cards.length - 1].classList.remove("offscreen");
      return 0;
    }

    if (window.matchMedia("(min-width: 736px)").matches && shift == -1) {
      cards[cards.length - 1].classList.add("offscreen");
      cards[0].classList.remove("offscreen");
      return 0;
    }
    if (nextSlide < 0 || nextSlide > cards.length - 1) {
      return currentSlide;
    }

    if (window.matchMedia("(min-width: 736px)").matches && shift == 1) {
      cards[0].classList.add("offscreen");
      cards[cards.length - 1].classList.remove("offscreen");
      return 0;
    }

    if (window.matchMedia("(min-width: 736px)").matches && shift == -1) {
      cards[cards.length - 1].classList.add("offscreen");
      cards[0].classList.remove("offscreen");
      return 0;
    }

    for (let iterator of cards) {
      iterator.classList.add("offscreen");
    }

    for (let iterator of circles) {
      iterator.classList.add("small-circle");
    }

    circles[nextSlide].classList.remove("small-circle");
    cards[nextSlide].classList.remove("offscreen");

    return nextSlide;
  };

  nextBtn.addEventListener(
    "click",
    () => (cardSlide = moveCardDots(cards, circles, cardSlide, 1))
  );
  prevBtn.addEventListener(
    "click",
    () => (cardSlide = moveCardDots(cards, circles, cardSlide, -1))
  );

  const circlesArr = Array.prototype.slice.call(circles);
  circlesArr.forEach((element, i) => {
    element.addEventListener("click", () => {
      moveCardDots(cards, circles, 0, i);
    });
  });
  const cards1 = document.querySelectorAll(".card1");
  const circles1 = document.querySelectorAll(".c2");

  const prevBtn1 = document.querySelector(".l1");
  const nextBtn1 = document.querySelector(".r1");

  let cardSlide1 = 0;

  nextBtn1.addEventListener(
    "click",
    () => (cardSlide1 = moveCardDots(cards1, circles1, cardSlide1, 1))
  );
  prevBtn1.addEventListener(
    "click",
    () => (cardSlide1 = moveCardDots(cards1, circles1, cardSlide1, -1))
  );

  const circlesArr1 = Array.prototype.slice.call(circles1);
  circlesArr1.forEach((element, i) => {
    element.addEventListener("click", () => {
      moveCardDots(cards1, circles1, 0, i);
    });
  });

  const cards3 = document.querySelectorAll(".card2");
  const circles3 = document.querySelectorAll(".c3");

  const prevBtn2 = document.querySelector("#left-arrow-green");
  const nextBtn2 = document.querySelector("#right-arrow-green");

  let cardSlide2 = 0;

  nextBtn2.addEventListener(
    "click",
    () => (cardSlide2 = moveCardDots(cards3, circles3, cardSlide2, 1))
  );
  prevBtn2.addEventListener(
    "click",
    () => (cardSlide2 = moveCardDots(cards3, circles3, cardSlide2, -1))
  );

  const circlesArr2 = Array.prototype.slice.call(circles3);
  circlesArr2.forEach((element, i) => {
    element.addEventListener("click", (e) => {
      moveCardDots(cards3, circles3, 0, i);
    });
  });

  const cards4 = document.querySelectorAll(".card3");
  const circles4 = document.querySelectorAll(".c4");

  const prevBtn3 = document.querySelector("#left-arrow-green2");
  const nextBtn3 = document.querySelector("#right-arrow-green2");

  let cardSlide3 = 0;

  nextBtn3.addEventListener(
    "click",
    () => (cardSlide3 = moveCardDots(cards4, circles4, cardSlide3, 1))
  );
  prevBtn3.addEventListener(
    "click",
    () => (cardSlide3 = moveCardDots(cards4, circles4, cardSlide3, -1))
  );

  const circlesArr3 = Array.prototype.slice.call(circles4);
  circlesArr3.forEach((element, i) => {
    element.addEventListener("click", (e) => {
      moveCardDots(cards4, circles4, 0, i);
    });
  });

  if (window.matchMedia("(min-width: 736px)").matches) {
    const memberCards = document.querySelectorAll(".individual-member-container");
    for (let card of memberCards) {
      card.classList.remove("offscreen");
    }

    cards3[cards3.length - 1].classList.add("offscreen");
    prevBtn2.setAttribute("src", "{% static 'img/about/LeftArrow.svg' %}");
    nextBtn2.setAttribute("src", "{% static 'img/about/RightArrow.svg' %}");
  }
</script>
{% endblock body %}